.base{
    width: 100svw;
    height: 92svh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}

h1{
    font-size: medium ;
    color: white;
}

button{
    font-size: xx-small !important;
}

.manageUsers{
    width: 30%;
    height: 100%;
    padding: 20px;
    background-color: var(--retro-sky-blue);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    box-shadow: 6px 6px black; border: 4px solid black;
}

.sectionTitle{
    background-color: var(--retro-sky-blue);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

@keyframes wrongInput {
    0%{
        transform: translateX(0%);
    }
    25%{
        transform: translateX(10%);
    }
    75%{
        transform: translateX(-10%);
    }
    100%{
        transform: translateX(0%);
    }
}

@keyframes endUsers {
    0%{
        transform: translateY(0%);
    }
    50%{
        transform: translateY(-15%);
    }
    100%{
        transform: translateY(0%);
    }
}

.applyEndUsers{
    animation: endUsers 1s;
}


.usersContainer{
    width: 100%;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    overflow: scroll;
    justify-content: flex-start;
    align-items: flex-start;
}

.animateWrongInput{
    outline: 3px solid var(--bs-danger) !important;
    animation: wrongInput 0.5s;
}

.adminSearchUser {
    background-color: var(--bs-success);
    color: white;
    border: none;
    width: 20%;
	box-shadow: 6px 6px black; border: 4px solid black;
}

.restore{
    width: 8%;
    color: white;
    border: none;
    background-color: var(--bs-danger);
	box-shadow: 6px 6px black; border: 4px solid black;
}

.searchComponent input {
    width: 65%;
    border: none;
    outline: none;
    padding: 5px;
	box-shadow: 6px 6px black; border: 4px solid black;

}

.searchComponent{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.adminUserLine{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--retro-blue);
    box-shadow: 6px 6px black; border: 4px solid black;
}

.upperLine, .bottomLine{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.photo{
    width: 20%;
    height: 100%;

}

.photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border: 4px solid black;
}

.upperLine h3{
    font-size: small;
    color: white;
}

.bottomLine button{
    width: 30%;
    height: 90%;
    border: none;
    color: white;
    font-size: smaller;
	box-shadow: 6px 6px black; border: 4px solid black;

}

.delete{
    background-color: var(--bs-danger);
}

.moderator{
    background-color: var(--bs-primary);
}

.ban{
    background-color: var(--bs-danger);
}
.makeModerator{
    background-color: var(--bs-success);
}

.undoBan{
    background-color: var(--bs-success);
}

.removeModerator{
    background-color: var(--bs-warning);
}