.base{
    width: 100svw;
    height: 92svh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.errorTextContainer{
    display: flex;
    height: 100%;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container{
    width: 70%;
    height: 70%;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    background-color: white;
    overflow-wrap: break-word;
    padding: 20px;
    box-shadow: 15px 15px black;
    border: 4px solid black;
    & .imgWrap{
        width: 50%;
        height: 75%;
        border-radius: 20px !important;
        overflow: hidden;
        background-color: white;
        
    }
    & img{
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
    }
    & h1{
        width: fit-content;
        height: fit-content;
        text-align: center;
        font-size: 50px;
        color: var(--bs-danger);
    }
    & h2{
        text-justify: justify;
        text-align: center;
        color: var(--bs-warning);

    }
}

