.base
{
    width: 100svw;
    min-height: 100svh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.p1Display, .p2Display
{
    border: 2px solid white;
    box-shadow: 10px 10px black;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    background-color: #a3b18a;
}

.playerOne, .playerTwo
{
    background-color: #588157;
    height: 65svh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px;
    border: 2px solid white;
    box-shadow: 10px 10px black;
}

h1
{
    text-align: center;
}

canvas
{
    border: 2px solid white;
    box-shadow: 15px 15px black;
    background-color: black;
}