<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Codice OTP</title>
    <style>
        body {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
            font-family: Arial, sans-serif;
        }

        #otpCode {
            font-size: 24px;
            padding: 10px;
            background-color: #f2f2f2;
            border: 1px solid #ccc;
            border-radius: 5px;
            user-select: all;
            text-align: center;
        }
    </style>
</head>
<body>
    <h2>{{ title }}</h2>
    <h3>{{ body }}</h3>
    <div id="otpCode"> {{ code }}</div>
    <br>
    <h4>Copyright © 2023, {{ company }}</h4>
</body>
</html>
