<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="passwordContainer">
        <div class="line">
            <div class="passInp">
                <input size="small" type="password" class="data retroShade" name="password">
                <div onclick="window.switchVisibility(this)" class="passwordSwitch">
                    <img src="/imgs/openEye.png" alt="">
                </div>
            </div>
            <div class="passInp">
                <input size="small" type="password" class="data retroShade" name="confirmPassword">
                <div onclick="window.switchVisibility(this)" class="passwordSwitch">
                    <img src="/imgs/openEye.png" alt="">
                </div>
            </div>
        </div>
    </div>
</body>
</html>