*:not(#navbar, nav, .navbar, #app, body){
    border-radius: 8px ;
}

*{
    font-family: 'Arial', sans-serif;
    font-weight: bold;
}

.account {
    border-radius: 10px !important;
}

.profilePictureUrl {
    border-radius: 10px !important;
}

img {
    border-radius: 0 !important;
}

input {
    border: 1px solid gray !important;
}

.userInfoContainer {
    width: 100svw;
    height: 92svh;
    position: relative;
    display: flex;
    align-items: center;
    padding: 40px;
}

.imageForm {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    height: 60svh;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset !important;
}

.formLink {
    transition: 0.5s;
}

.intraInfo,
.googleInfo {
    width: 60%;
    margin: 0;
}

.intra,
.google {
    justify-content: space-between !important;
    padding: 0 !important;
    padding: 5px;
}

@keyframes slide {
    0% {
        transform: rotate(0);
    }
    25% {
        transform: rotate(40deg);
    }
    75% {
        transform: rotate(-40deg);
    }
    100% {
        transform: rotate(0);
    }
}

.imgWrap {
    width: 15%;
    height: 100%;
    padding: 5px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset !important;
}

.imgWrap img {
    width: 100%;
    height: 100%;
    border-radius: 8px !important;
    object-fit: contain;
    background-color: white;
}

.intra span,
.google span {
    padding: 5px;
    font-size: 10px;
    flex-grow: 1;
    text-align: center;
}

#intraLink {
    background-color: var(--bs-danger);
}

.formLink:hover {
    cursor: pointer;
    background-color: black !important;
    color: white !important;
}

.leftSide {
    z-index: 1000000000;
    transition: 0.6s;
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;
    align-items: center;
    padding: 20px;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.2);
}

.leftSide h4 {
    padding: 10px;
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 15px 15px black;
    background-color: #f0ead2;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset !important;
}

.title {
    padding: 10px;
    background-color: #f0ead2;
    border: 2px solid black;
    box-shadow: 15px 15px black;
    width: 80%;
}

.formContainer,
.imageContainer {
    backdrop-filter: blur(20px);
    background-color: rgba(255, 255, 255, 0.15);
    /* background: linear-gradient(to right, var(--bs-teal), var(--bs-cyan)); */
    width: 90%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: 15px 15px black;
    padding: 20px;
    margin-bottom: 40px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset !important;
}

.showForm {
    display: flex;
    justify-content: center;
}

.formContainerInner {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-center;
    align-items: center;
}

.imageContainer {
    width: 50% !important;
}

.formMenu {
    overflow: scroll;
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: scroll;
}

.inputLine {
    background-color: white;
    padding: 10px;
    font-size: 20px;
    width: 90%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset !important;
    margin: 15px;
}

.inputLineFile {
    background-color: white;
    padding: 10px;
    font-size: 20px;
    width: 90%;
    height: 8svh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset !important;
}

.inputLine label {
    width: 90%;
}

.inputLine input {
    border: 2px solid black;
    width: 100%;
    height: 3.5svh;
    margin: 2px 0 2px 0;
    outline: none;
    transition: 0.6s;
    font-size: 10px;
}

.inputLine input[size="small"] {
    width: 90%;
}

.passInp {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.errors {
    width: 90%;
    background-color: #A22C29;
    box-shadow: 7px 7px black;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 20px;
    color: white;
    display: none;
}

.errors ul {
    margin: 0;
}

.passwordSwitch {
    width: 4svh;
    height: 4svh;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset !important;
    padding: 5px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.passwordSwitch:hover {
    cursor: pointer;
}

.passwordSwitch img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.submit {
    background-color: var(--bs-success);
    width: 90%;
    height: fit-content;
    padding: 10px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset !important;
    margin: 30px;
    color: white;
}

.profilePict {
    width: 90%;
    height: 70%;
    padding: 10px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset !important;
}

.profilePict img {
    object-fit: contain;
    background-color: black;
    width: 100%;
    height: 100%;
}

#inpFile {
    position: absolute;
    left: -300svw;
}

#labelInpFile {
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
}

#labelInpFile span {
    display: flex;
    align-items: center;
}

#labelInpFile:hover {
    cursor: pointer;
}

.fileIcon {
    width: 10%;
    height: 80%;
    object-fit: contain;
}

.selectFileText {
    display: flex;
    align-items: flex-end;
    height: 100%;
    width: 100%;
    font-size: larger;
    margin-left: 20px;
}

.myTooltip {
    padding: 10px;
    width: 1.5svw;
    height: 1.5svw;
    background-color: #000;
    justify-content: center;
    align-items: center;
    position: relative;
    display: flex;
    color: white;
}


/* Tooltip text */

.myTooltip .tooltiptext {
    visibility: hidden;
    min-width: 20svw;
    background-color: #555;
    color: #fff;
    padding: 15px;
    border-radius: 6px;
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}


/* Tooltip arrow */

.myTooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 15%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}


/* Show the tooltip text when you mouse over the tooltip container */

.myTooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.handle {
    width: 10svw;
    height: 10svw;
    background-color: var(--bs-danger);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.6s;
    display: none;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 10000;
}

.f-line {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 10px;
}

.line {
    width: 100%;
    height: fit-content;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset !important;
}

.formContainer {
    display: flex;
}

.codeSend {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.codeSend input {
    width: 60% !important;
}

.retroBtn {
    width: 30%;
    height: 4svh;
    padding: 5px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset !important;
    font-weight: bolder;
    text-decoration: none;
    font-size: 10px;
}

.retroBtn:hover {
    cursor: pointer;
}

.retroBtn:hover .imgWrap {
    animation: slide 1s;
}

.submitLine {
    height: 100%;
    display: flex;
}

.codeDisplay {
    width: 60%;
    height: 100%;
    overflow: scroll;
    margin: 0;
    align-items: center;
}

.decisionBox {
    width: 100%;
    height: 8svh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 20px;
    margin: 20px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset !important;
}

.qrInfo {
    background-color: var(--bs-success);
    flex-grow: 1;
    height: 250px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset !important;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
}

.codeInputLine {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.codeInputLine input {
    width: 100%;
}

.showForm {
    width: 100%;
}

@media screen and (max-width: 900px) {
    .handle {
        display: flex;
    }
    .userInfoContainer {
        justify-content: center;
        align-items: center;
        padding: 10px;
    }
    .formContainer, .imageContainer {
        width: 100%;
        box-shadow: none !important;
        background-color: white;
        margin-top: 20;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset !important;

        /* border-radius: 8px; */
    }

    .decisionBox{
        margin: 0;
        box-shadow: none !important;
        justify-content: space-evenly;
    }
    .inputLine{
        margin: 0;
        width: 100%;
        margin-top: 20px;
    }
    .formMenu {
        width: 100%;
        padding: 0;
    }
    .leftSide {
        width: 90%;
        position: absolute;
        background-color: var(--bs-dark);
        top: 0;
        left: 0;
        transform: translateX(-91svw);
    }
    .imageContainer {
        padding: 5px;
        width: 100% !important;
    }
    .googleInfo,
    .intraInfo {
        display: none;
    }
    .retroBtn {
        width: 40%;
    }
    .intra,
    .google,
    .logoutAll {
        width: 70%;
        margin: auto;
    }
    .decisionBox {
        padding: 5px;
    }
    .qrInfo {
        padding: 20px;
        width: 100%;
        height: fit-content;
    }
    .qrLine {
        flex-direction: column;
    }
}